
*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    background-image: linear-gradient(to bottom right, #B5D1E2 , #FDF3F5 );
}

h2, h3, h4, p, ul, ol, li{
    font-family: sans-serif;
}