*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}


 .wrapper{
    display:table;
    width:100%;
    height:100%;
    border-collapse:separate;
    border-spacing:2%;
}

.yellow__block {
    width:33.3333%;
    height:100%;
    border:medium solid orange;
}



.red__block{
    width:auto;
    border:medium solid red;
    height:auto;
    column-count:2;
}


td.green {
    width:100px;
    padding:0;
}


td.green:last-child{
    padding:40px 0 0 0;
}


div{
    width:100px;
    border:medium solid green;
}

.pink{
    height:100%;
    width:auto;
    border:medium solid pink;
 }
 
 





