.services h2{
    color:rgba(0, 51, 102, 1);
    padding-left:30px;
}

.services h3{
    color:rgba(0, 51, 102, 1);
    padding-left:40px;
}

table, th, td{
    border: 1px solid rgba(0, 51, 102, 1);
    font-family: sans-serif;
    color:rgba(242,243,244, 0.9);
}

table{
    border-collapse: collapse;
    background-color:rgba(0, 51, 102, 0.3);
    padding: 0.25rem;
    margin: 20px;
    font-size: 100%;
}

tr:hover{
    background-color:rgba(0, 51, 102, 0.3);
}

th{
    background: rgba(0, 51, 102, 0.7);
}